<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/plent_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".myActivities.LoginActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".myActivities.EventActivity"
            android:label="Event Description"
            android:parentActivityName=".myActivities.EventActivity">

            <!--
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".myActivities.FindEventsActivity"
            android:label="@string/find_events_activity"
            android:parentActivityName=".myActivities.EventActivity"></activity>
        <activity
            android:name=".myActivities.CalendarActivity"
            android:label="Calendar"
            android:parentActivityName=".myActivities.EventActivity"></activity>
        <activity
            android:name=".myActivities.SignUpActivity"
            android:label="Sign Up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myActivities.ManageEventsActivity" />
    </application>

</manifest>